{% extends 'base.html.twig' %}

{% block title %}{{ title }}{% endblock %}

{% block body %}
    <div class="container">
        <div class="row">
            <div class="col-12">

                <a
                    href="{{ path('index') }}"
                    class="reloadIcon"
                >
                    <i class="fas fa-sync-alt"></i>
                </a>

                <table class="table table-dark">
                    <caption>Base rate: {{ baseRate }}</caption>
                    <thead>
                        <tr>
                            <th scope="col">Currency</th>
                            <th scope="col">Exchange rate</th>
                            <th scope="col">Date</th>
                        </tr>
                    </thead>
                    <tbody>

                        {% for key, rate in rates %}

                            {% if key != baseRate %}
                                <tr>
                                    <th scope="row">{{ key }}</th>
                                    <td>{{ rate }}</td>
                                    <td>{{ date }}</td>
                                </tr>
                            {% endif %}

                        {% else %}

                            <li>No rates found</li>

                        {% endfor %}

                    </tbody>
                </table>
            </div>
        </div>

    </div>
{% endblock %}
