{% extends 'base.html.twig' %}

{% block title %}{{ title }}{% endblock %}

{% block body %}
    <div class="container">
        <div class="row">
            <div class="col-12 text-right mb-4">
                <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModalCenter">
                    <i class="fas fa-plus"></i> Add rate
                </button>
            </div>

            <div class="col-12">

                <a
                    href="{{ path('refresh-db-rates') }}"
                    class="reloadIcon"
                >
                    <i class="fas fa-sync-alt"></i>
                </a>

                <table class="table table-dark">
                    <caption>Base rate: {{ baseRate }}</caption>
                    <thead>
                    <tr>
                        <th scope="col">Currency</th>
                        <th scope="col">Exchange rate</th>
                        <th scope="col">Created At</th>
                        <th scope="col">Updated At</th>
                        <th scope="col">Actions</th>
                    </tr>
                    </thead>
                    <tbody>

                    {% for rate in rates %}
                        {% if rate.currency != baseRate %}
                            <tr>
                                <th scope="row">{{ rate.currency}}</th>
                                <td>{{ rate.rate }}</td>
                                <td>{{ rate.createdAt | date }}</td>
                                <td>{{ rate.updatedAt | date }}</td>
                                <td>
                                    {{ form_start(deleteForm, {'action': path('delete-rate', {'rateId' : rate.id})}) }}
                                        <button type="submit" class="btn btn-danger">
                                            <i class="far fa-trash-alt"></i>
                                        </button>
                                    {{ form_end(deleteForm) }}

                                </td>
                            </tr>
                        {% endif %}
                    {% endfor %}


                    </tbody>
                </table>
            </div>
        </div>

    </div>

    <!-- Modal -->
    <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            {{ form_start(postForm) }}
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalCenterTitle">Add rate</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <div class="form-group">
                            <input
                                type="text"
                                class="form-control"
                                id="currency"
                                maxlength="3"
                                placeholder="Currency"
                                name="currency"
                            >
                        </div>

                        <div class="form-group">
                            <input
                                    type="number"
                                    class="form-control"
                                    id="rate"
                                    maxlength="3"
                                    placeholder="Rate to {{ baseRate }}"
                                    name="rate"
                                    step="any"
                                    min="0"
                            >
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="submit" class="btn btn-primary">
                            Submit rate
                        </button>
                    </div>
                </div>
            {{ form_end(postForm) }}
        </div>
    </div>
{% endblock %}


