body {
    background-color: lightgray;
}

.navbar {
    margin-bottom: 50px;
}

.reloadIcon {
    line-height: 21px;
    position: absolute;
    top: 6px;
    right: 25px;
    font-size: 21px;
    border: 1px solid transparent;
    color: #fff;
    padding: 7px;
    border-radius: 50%;
    cursor: pointer;
}

.reloadIcon:hover {
    border: 1px solid #565656;
    color: #D3D3D3;
}
